services:
    - App\Router\RouterFactory::createRouter
    security.passwords: Nette\Security\Passwords(::PASSWORD_BCRYPT, [cost: 12])
    - App\Model\User\Auth\DbAuthenticator
    - App\Model\Image\ImageUploadFacade(%wwwDir%)



search:
    - in: %appDir%/Model
      classes:
        - *Facade
        - *Factory
        - *Repository
        - *Service
        - *Mapper
        - *List
        - *Paginator
    - in: %appDir%/Module
      classes:
        - *Factory
