services:
	- App\Router\RouterFactory::createRouter
	- App\Model\Repos\CommentRepository
	- App\Model\Repos\PostRepository
	- App\Model\Repos\DeletionRepository
	- App\Model\Facades\PostCommentFacade
	- App\Model\Facades\CommentDeletionFacade
	- App\Model\Mapper\CommentMapper
	- App\Model\Mapper\PostMapper
	- App\Model\Facades\PostFacade
	- App\Model\Facades\CommentFacade
	- App\Model\Facades\PostDeletionFacade
