<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<title>{ifset title}{include title|stripHtml} | {/ifset}Test project</title>

	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>

	<link rel="stylesheet" href="{$basePath}/css/style.css">

{*	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">*}
{*	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>*}

{*	toast*}
	<script src="https://cdn.jsdelivr.net/npm/vanilla-sonner@0.5.2/dist/vanilla-sonner.umd.min.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vanilla-sonner@0.5.2/dist/vanilla-sonner.min.css">

{*	hover and stuff*}
	<script src="https://cdn.jsdelivr.net/npm/invokers@2.2.0/dist/cjs/production/index.min.js"></script>

{*	tailwindcss static*}
	<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
	<script src="https://unpkg.com/naja@3/dist/Naja.min.js"></script>
</head>

<body data-bs-theme="dark" class="bg-stone-950 text-stone-100">
	<script>
			naja.initialize();
	</script>
	<ol id="sonner-toast-container"
		position="top-center"
		max-toasts="3"
		rich-colors="true"
		theme="dark"
		duration="2500"
		closeButton="true"
		class="mb-0 p-0">
	</ol>

	<div class="navbar navbar-expand-lg bd-navbar sticky top-0 bg-stone-950 mb-2 p-4 list-none border-b-1 border-stone-900">
		<nav class="flex justify-between flex-row">
			<li><a n:href="Homepage:" class="text-decoration-none font-semibold text-2xl">Články</a></li>
			{if $user->isLoggedIn()}
				<li>
					<a n:href="Sign:out" class="text-decoration-none font-semibold text-2xl"
										 interestfor="profile-hint">Odhlásit</a>
					<div id="profile-hint" popover="hint" class="fixed align-center px-4 py-2 rounded-lg text-decoration-none text-white text-md bg-stone-900 border-stone-800 border-1 mr-4 ml-auto top-13" style="position: absolute; z-index: 1000">
						<strong>Jméno: {$identity->getData()["name"]}</strong>
					</div>

					<a n:if="$presenter->isAllowed($permList->adminPanel)" n:href="Admin:" class="ml-2 text-decoration-none font-semibold text-2xl">Admin</a>
				</li>
			{else}
				<li><a n:href="Sign:in" class="text-decoration-none font-semibold text-2xl">Přihlásit</a></li>
			{/if}
		</nav>
	</div>


	{include content}

	{block scripts}
	<script src="https://nette.github.io/resources/js/3/netteForms.min.js"></script>
	{/block}

	{snippet flashes}
	<script>
		document.addEventListener('DOMContentLoaded', function () {
			{foreach $flashes as $flash}
				{switch $flash->type}
					{case 'success'}
						window.toast.success({$flash->message});
					{case 'error'}
						window.toast.error({$flash->message});
					{case 'info'}
						window.toast.info({$flash->message});
					{default}
						window.toast({$flash->message});
				{/switch}
			{/foreach}
		});
	</script>
	{/snippet}
</body>
</html>
